._load-more-button {
	display: flex;
	justify-content: center;
	button {
		position: relative;
		margin: 0 auto;
		display: block;
	}
	.lds-ring {
		display: inline-block;
		position: absolute;
		left: 4px;
		width: 18px;
		height: 18px;

		&.hide-spinner {
			display: none;
		}
	}
	.lds-ring div {
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: 12px;
		height: 12px;
		margin: 4px;
		border: 2px solid #fff;
		border-radius: 50%;
		animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: #fff transparent transparent transparent;
	}
	.lds-ring div:nth-child(1) {
		animation-delay: -0.45s;
	}
	.lds-ring div:nth-child(2) {
		animation-delay: -0.3s;
	}
	.lds-ring div:nth-child(3) {
		animation-delay: -0.15s;
	}
	@keyframes lds-ring {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
