@import 'core/utils';

._header {
	h1.site-logo {
		line-height: 0;
	}

	.site-navigation {
		.menu-item {
			a {
				padding: 0.25rem 0.5rem;
			}
		}
	}

	#mobile-menu-toggler {
		z-index: $zindex-popover;

		&::before {
			font-size: rem(24);
			font-family: Icons;
			content: icon(menu);
		}

		&[aria-expanded='true'] {
			&::before {
				content: icon(close);
			}
		}
	}
}
