@import 'core/utils';

._not-found-content {
	.text-block {
		position: relative;

		&::before {
			content: '404';
			display: inline-block;
			opacity: 0.075;
			font-size: 15em;
			font-weight: bold;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			pointer-events: none;
			z-index: -1;
		}
	}
}
