@import 'core/utils';

._rich-content {
	p,
	h2,
	h3,
	h4,
	h5,
	h6,
	ul,
	ol {
		margin-bottom: rem(18);
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: rem(32);
	}

	ul,
	ol {
		li {
			margin-bottom: 0.5em;
		}
	}

	a {
		text-decoration: underline;
	}

	blockquote {
		text-align: center;
		margin: 2rem auto;

		p {
			font-size: 1.5em;
			margin-bottom: 0;
			line-height: 1.2;
			font-style: italic;
		}

		&::before,
		&::after {
			content: '';
			display: block;
			width: 40%;
			margin-left: auto;
			margin-right: auto;
			border-top: 1px solid $body-color;
		}
		&::before {
			margin-bottom: 1rem;
		}
		&::after {
			margin-top: 1rem;
		}
	}

	figure {
		position: relative;
	}

	figcaption {
		font-size: rem(13);
		color: $text-muted;
	}

	img.alignleft,
	img.alignright {
		float: none;
	}

	hr {
		margin: 1.5rem 0;
	}

	/* Remove margin top from first element */
	& > *:first-child {
		margin-top: 0 !important;
	}

	@include media-breakpoint-up(sm) {
		img.alignleft {
			float: left;
			margin-right: 20px;
		}

		img.aligncenter {
			display: block;
			margin: 0 auto;
		}

		img.alignright {
			float: right;
			margin-left: 20px;
		}
	}

	/* Hide the Posts View count */
	.post-views.entry-meta {
		display: none;
	}
}
