<?php

namespace Theme\Taxonomies;

use Solidify\Core\Taxonomy;

/**
 * Register a custom taxonomy for {{ titleCase plural }}
 */
class {{ pascalCase singular }} extends Taxonomy {
	public function __construct() { // phpcs:ignore
		$this->taxonomy = '{{ kebabCase singular }}';
		$this->post_types = array({{{ postTypes }}});

		$this->labels = array(
			'name'              => '{{ titleCase plural }}',
			'singular_name'     => '{{ titleCase singular }}',
			'search_items'      => 'Search {{ titleCase plural }}',
			'all_items'         => 'All {{ titleCase plural }}',
			'parent_item'       => 'Parent {{ titleCase singular }}',
			'parent_item_colon' => 'Parent {{ titleCase singular }}:',
			'edit_item'         => 'Edit {{ titleCase singular }}',
			'view_item'         => 'View {{ titleCase singular }}',
			'update_item'       => 'Update {{ titleCase singular }}',
			'add_new_item'      => 'Add New {{ titleCase singular }}',
			'new_item_name'     => 'New {{ titleCase singular }}',
			'menu_name'         => '{{ titleCase plural }}',
			'filter_by_item'    => 'Filter by {{ titleCase singular }}',
			'back_to_items'     => '← Go to {{ titleCase plural }}',
		);

		$this->args = array(
			'hierarchical'      => {{ isHierarchical }},
			'labels'            => $this->labels,
			'show_ui'           => true,
			'show_admin_column' => true,
			'show_in_rest'      => {{ showInRest }},
			'rewrite'           => array(
				'slug'        => '{{ kebabCase plural }}',
				'with_front' => false,
			),
		);
	}
}
