@import 'core/utils';

._social-menu {
	$item-size: rem(30);
	$icon-size: rem(24);

	ul {
		.menu-item {
			position: relative;
			width: $item-size;
			height: $item-size;
			font-size: $icon-size;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			margin: 0 0.25rem;

			a {
				position: absolute;
				display: inline-block;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				text-indent: -9999px;
			}
		}
	}
}
