/* BASIC GLOBAL CSS */

// Font anti-aliasing
* {
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

img,
figure {
	max-width: 100%;
	height: auto;
}

embed,
iframe,
object {
	max-width: 100%;
}

.wp-caption-text {
	color: $gray-500;
	font-size: rem(14);
	margin-top: 0.25rem;
}

picture {
	img {
		width: 100%;
		height: auto;
	}
}

// ::selection {
// 	background: $medium;
// 	color: white;
// }

// ::placeholder {
// 	color: $medium;
// }

/* PAGE */
/*
 * Fit the footer at the bottom of the page if page height is not enough to fill the window
 * IE fix: Set the min-height of the #page as the viewport height to fix the IE issue with flex
 */

#page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	#skip-link {
		position: fixed;
		left: 1rem;
		top: 1rem;
	}

	#content {
		position: relative;
		flex: 100% 1 1;
		overflow: hidden;
	}

	#footer {
		margin-top: auto;
	}
}
