// Helper classes

/* Lock scroll behaviour */
.scroll-locked {
	height: 100%;
	overflow: hidden;
}

/* Links without underline hover */
.undecorated-link {
	&:hover {
		text-decoration: none;
	}
}

/* Styling for PHP variable debugging with ThemeUtils::showme() */
pre.showme {
	background: $gray-900;
	color: silver;
	padding: 1rem;
}

/* To delay element rendering till necessary */
.content-visibility-auto {
	content-visibility: auto;
}
