@import 'core/utils';

._pagination-button {
	.nav-links {
		a {
			padding: 10px 17px;
			border-color: $primary !important;
			border-radius: 12px;
			font-weight: 700;
			text-decoration: none;
			font-size: 14px;
			height: 36px;
			display: flex;
			align-items: center;
			justify-content: center;

			&.page-numbers {
				border-radius: 12px;
				padding: 7px 17px;

				&.active {
					background: #02b261;
					color: #fff;
					pointer-events: none;
				}

				&.disable {
					pointer-events: none;
					border-color: $gray-500 !important;
					color: $gray-500;
				}

				@include media-breakpoint-down(sm) {
					&:nth-last-child(-n + 4):not(.next, .last) {
						/* display: none !important; */
					}
				}
			}

			&:hover {
				background: #02b261;
				color: #fff;
			}

			&.disable {
				pointer-events: none;
				border-color: $gray-500 !important;
				color: $gray-500;
			}
		}
	}
}
