<?php

namespace Theme\Components;

use Theme\Helpers\Component;
use Theme\Helpers\Enqueues;

class {{ pascalCase name }} extends Component { // phpcs:ignore
	public function __construct($args = array()) { // phpcs:ignore
		$this->name = '{{ kebabCase name }}';
		$this->template = "components/{$this->name}/{$this->name}";

		Enqueues::enqueue_component_styles( $this->name );

		// List of props passed as variables to the template
		$this->props = array_merge(
			array(
				'class' => '', // Additional CSS class for the root element
			),
			$args
		);
	}
}
