import $ from 'jquery';
import { Component } from '@/utils/component';

class {{ pascalCase name }} extends Component {
	constructor() {
		super();

		// DOM reference to component's root element
		this.selfRef = $('._{{ kebabCase name }}');
	}

	pageLoaded() {
		if (this.selfRef.length) {
		}
	}
}

export default new {{ pascalCase name }}();
