<?php
/**
 * Template for Theme\Components\\{{ pascalCase name }} component
 *
 * @package Theme\Components
 */

?>
<{{ htmlTag }} class="_{{ kebabCase name }} <?php echo $class; ?>">

</{{ htmlTag }}>
