<?php

namespace Theme\Api;

use Solidify\Core\Hook;

/**
 * {{ description }}
 *
 * @link https://developer.wordpress.org/rest-api/extending-the-rest-api/adding-custom-endpoints/
 */
class {{ pascalCase className }} extends Hook {
	public function __construct() { // phpcs:ignore
		$this->add_action( 'rest_api_init', 'register_{{ endpoint }}_endpoint' );
	}

	/**
	 * Register the endpoint for returning SOMETHING_NOT_YET_DESCRIBED // TODO: Update function description
	 */
	public function register_{{ endpoint }}_endpoint() {
		register_rest_route(
            '{{ vendor }}/v1',
            '/{{ endpoint }}',
            array(
				'methods'             => 'GET',
				'callback'            => function() {
					return array(
						'example_field' => 'Simplicity is the soul of efficiency.',
					);
				},
				'permission_callback' => '__return_true',
            )
        );
	}
}
