@use 'sass:math';
@import 'mixins';

// BASE COLORS
$white: #fff;
$black: #222;

// WORDPRESS COLORS
$wp-blue: #0073aa;
$wp-lightblue: #00a0d2;
$wp-red: #dc3232;
$wp-orange: #f56e28;
$wp-yellow: #ffb900;
$wp-green: #46b450;
$wp-purple: #826eb4;
$wp-ultra-dark-gray: #191e23;
$wp-dark-gray: #23282d;
$wp-base-gray: #32373c;
$wp-medium-gray: #82878c;
$wp-silver-gray: #a0a5aa;
$wp-light-gray: #b4b9be;

// BRAND COLORS
$primary: #0073aa;
$background: #000;

// TYPOGRAPH
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
	sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$h1-font-size: rem(40);
$h2-font-size: rem(30);
$h3-font-size: rem(24);
$h4-font-size: rem(20);
$h5-font-size: rem(16);
$h6-font-size: rem(12);
