@import 'variables';

// Fonts
@import 'fonts/proxima-nova';

$container-max-width: 900px;
$container-padding: 0.875rem;

*,
p {
	font-family: $font-family-sans-serif;
	color: #222; // %BODY_COLOR% (DO NOT REMOVE THIS COMMENT)
}

.editor-post-title__input {
	font-family: $font-family-sans-serif;
	font-size: $h1-font-size; // %H1_FONT_SIZE% (DO NOT REMOVE THIS COMMENT)
	color: $primary; // %HEADING_COLOR% (DO NOT REMOVE THIS COMMENT)
	line-height: 1.2;
}

p {
	font-size: 16px; // %BODY_FONT_SIZE% (DO NOT REMOVE THIS COMMENT)
	line-height: 1.5;

	strong {
		font-weight: 700;
	}
}

ol,
ul {
	padding-left: 1.5rem;

	li {
		margin-bottom: 0.5em;
	}
}

body.webkit {
	strong,
	b {
		font-weight: 500 !important;
		font-family: inherit;
	}
}

.wp-block {
	width: $container-max-width;
	max-width: calc(100% - 40px);
}
body#tinymce {
	max-width: calc(#{$container-max-width} + #{$container-padding * 2});
	box-sizing: border-box;
	padding: 0 $container-padding !important;
	margin: 0 auto;
}
