@import 'variables';

.acf-postbox {
	h2.hndle {
		font-size: 19px !important;
	}
	.acf-field {
		.acf-label {
			label {
				font-size: 16px;
				color: #198ac1;

				small {
					font-weight: 500;
				}
			}
			.acf-field {
				.acf-label {
					label {
						font-size: 14px;
					}
				}
			}
		}
		/* Hide unallowed formatting for editing posts */
		&.minimal-editor {
			.mce-btn-group {
				.mce-btn {
					display: none;
				}
			}
		}
		/* Lock the text area height */
		&.no-resize {
			.mce-edit-area iframe,
			.wp-editor-area {
				height: 200px !important;
				resize: none;
			}
			.mce-container-body {
				.mce-statusbar {
					.mce-resizehandle {
						display: none;
					}
				}
			}
		}
		/* Remove unnecessary space from TinyMCE (without Media Button) */
		&.no-media {
			.wp-editor-tools {
				position: absolute;
				right: 0;
				top: 0;
				transform: translateY(-100%);
			}
			.description {
				padding-right: 120px;
			}
		}
		/* Reduce height editor for the WYSIWYG editor */
		&.reduced-height {
			.mce-edit-area iframe,
			.wp-editor-area {
				height: 120px !important;
				min-height: 120px;
			}
		}
		/* Bold for text inputs */
		&.bold {
			input {
				font-weight: bold;
			}
		}
		/* For titles */
		&.title {
			input {
				font-size: 30px;
			}
		}
		/* Serif font for text inputs */
		&.serif {
			input {
				font-family: serif;

				&[type='text'] {
					font-size: 125%;
				}
			}
		}
		/* Italic font for text inputs */
		&.italic {
			input {
				font-style: italic;
			}
		}
		/* Hide field */
		&.hide {
			display: none;
		}
		/* Hide field label */
		&.hide-label {
			.acf-label {
				display: none;
			}
		}
		input::placeholder {
			color: #bbb;
		}
	}
	.acf-field-group {
		.acf-field {
			.acf-label {
				label {
					color: #23282d;
				}
			}
		}
	}
	th {
		&.acf-th {
			font-weight: bold !important;
			p {
				font-weight: normal !important;
			}
		}
	}
}

/* For metabox for a semi-seamless style */
.meta-box-sortables {
	& > .acf-postbox {
		background: #f9f9f9;
		.postbox-header {
			background: white;
		}
	}
}

body {
	// Hide parent field for some taxonomies
	$taxonomies: (); // Add the name of the taxonomies in this array as strings
	&.edit-tags-php,
	&.term-php {
		@each $taxonomy in $taxonomies {
			&.taxonomy-#{$taxonomy} {
				.form-field.term-parent-wrap {
					display: none;
				}
			}
		}
	}
}
