@import 'variables';

body.user-edit-php,
body.profile-php {
	.form-table {
		// Recommended size for profile picture image
		label[for='btn-media-add'] {
			&::after {
				content: 'Recommended size: 500x500px, JPG';
				display: block;
				font-size: 14px;
				font-weight: normal;
				color: #646970;
				margin-top: 0.5rem;
			}
		}
	}
}
