@import 'core/utils';

._mobile-menu {
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	transition: left 0.5s easing(easeOutQuint);
	z-index: $zindex-modal;

	&.active {
		left: 0;
	}

	.menu {
		li {
			a {
				color: white;
			}
		}
	}
}
