<?php

namespace Theme\Layouts;

use Theme\Helpers\Layout;
use Theme\Helpers\Enqueues;
use Theme\Helpers\ThemeUtils;

/**
 * Class for managing the {{ titleCase name }} page data and template
 *
 * @package Theme\Layouts
 */
class {{ pascalCase name }} extends Layout {
	public function __construct( $args = array() ) { // phpcs:ignore
		$this->name     = '{{ kebabCase name }}';
		$this->template = "layouts/{$this->name}/{$this->name}";

		Enqueues::enqueue_page_assets( $this->name );

		// List of props passed as variables to the template
		$this->props = array_merge(
			array( /* Set your defaut props here */ ),
			$args
		);

		ThemeUtils::console_log_json( $this->props, 'Layout Props' );
	}
}
