<?php
/**
 * {{ entryTitle }}
 *
 * Entry file for the {{ titleCase name }} page
 *
 * @package Theme\Layouts
 */

use Theme\Layouts\\{{ pascalCase name }};

{{#if isLoopItem }}
the_post();

{{/if}}
get_header();

echo new {{ pascalCase name }}();

get_footer();
