@import 'core/utils';

// Add additional modules here, if needed (i.e. Bootstrap, Swiper, etc.)
// ...

// Styles for this page only
#search-layout {
	._page-header {
		.searched-term {
			color: $primary;
		}
	}
}
