<?php

namespace Theme\FieldGroups;

use Solidify\Core\FieldGroup;
use Solidify\Fields;

class {{ pascalCase name }}FieldGroup extends FieldGroup { // phpcs:ignore
    public function __construct() { // phpcs:ignore
        $this->set_fields(
            array()
        );

        $this->args = array(
			'key'             => '{{ kebabCase name }}',
			'title'           => '{{ titleCase title }}',
			'location'        => array(
				array(),
			),
			'menu_order'      => 0,
			'style'           => 'seamless',
			'position'        => 'normal',
			'label_placement' => 'top',
        );
    }
}

