<?php

namespace Theme\CustomFields;

use Solidify\Core\CustomField;
use Solidify\Fields;

class {{ pascalCase name }}Fields extends CustomField { // phpcs:ignore
	public function __construct() { // phpcs:ignore
		$this->fields = array();
	}
}
