<?php

namespace Theme\PostTypes;

use Solidify\Core\PostType;

/**
 * Register the {{ snakeCase singularName }} custom post type
 */
class {{ pascalCase singularName }} extends PostType {
	public function __construct() { // phpcs:ignore
		$this->post_type = '{{ snakeCase singularName }}';

		$labels = array(
			'name'               => '{{ titleCase pluralName }}',
			'singular_name'      => '{{ titleCase singularName }}',
			'menu_name'          => '{{ titleCase pluralName }}',
			'all_items'          => 'All {{ titleCase pluralName }}',
			'add_new'            => 'Add New',
			'add_new_item'       => 'Add New {{ titleCase singularName }}',
			'edit_item'          => 'Edit {{ titleCase singularName }}',
			'insert_into_item'   => 'Insert into {{ titleCase singularName }}',
			'item_updated'       => '{{ titleCase singularName }} updated',
			'item_published'     => '{{ titleCase singularName }} published',
			'search_items'       => 'Search {{ titleCase pluralName }}',
			'not_found'          => 'No {{ lowerCase singularName }} found',
			'not_found_in_trash' => 'No {{ lowerCase singularName }} found in Trash',
		);

		$this->args = array(
			'labels'              => $labels,
			'public'              => false,
			'publicly_queryable'  => false,
			'show_ui'             => true,
			'show_in_rest'        => {{ showInRest }},
			'rest_base'           => '{{ kebabCase pluralName }}',
			'has_archive'         => false,
			'show_in_menu'        => true,
			'exclude_from_search' => true,
			'capability_type'     => 'post',
			'map_meta_cap'        => true,
			'hierarchical'        => {{ isHierarchical }},
			'menu_position'       => 20,
			'rewrite'             => array(
				'slug'       => '{{ snakeCase singularName }}',
				'with_front' => false,
			),
			'query_var'           => true,
			'supports'            => array({{{ supports }}}),
			'menu_icon'           => '{{ dashicon }}',
			'taxonomies'          => array(),
		);
	}
}
